
body{
    background-color: #19181b;
    color: #f8f6ea;
    margin: 20px auto;
    max-width: 50%;
}

.header {
    display: flex;
    width: fit-content;
    flex-direction: row;
    margin: 20px auto;
    gap: 20px;
}

.header img {
    width: 108px;
    height: 108px;
}

.titletext {
    position: relative;
    width: fit-content;
    margin: auto;
}

.titletext h1 {
    margin: auto;
    width: fit-content;
    font-size: 60px;
    color: #2897FF;
}

.titletext small {
    position: absolute;
    right: 25%;
    bottom: -15px;
    margin: auto;
    color: darkgray;
}

.titletext small:hover {
    cursor: pointer;
}

hr {
    overflow: visible;
    border: dashed 2px darkgray;
    margin: 30px 40px;
}

/* Triangle code adapted from
https://stackoverflow.com/questions/18816486/how-can-i-make-a-pointy-arrow-with-a-div-in-css */
hr:before {
    position: relative;
    bottom: 10px;
    left: -10px;
    display: inline;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid darkgray;
    float: left;
}

hr:after {
    position: relative;
    bottom: 10px;
    right: -10px;
    display: inline;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid darkgray;
    float: right;
}

.frontpageimg {
    background-image: url("../assets/20231226_174108.jpg");
    background-size: 640px 360px;
    /*filter: blur(2px);*/
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonbox {
    margin: 40px auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.button {
    background-color: transparent;
    border-color: darkgray;
    border-style: solid;
    font-weight: bold;
    transition-duration: 0.4s;
    border-radius: 10px;
    color: darkgray;
    padding: 15px 30px;
    text-decoration: blink;
    display: inline-block;
    font-size: 30px;
}

button:hover {
    cursor: pointer;
}

.button.secret {
    opacity: 0;
    background-color: darkgray;
    border: 0;
    transition-duration: 0.4s;
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
    color: #808080
}

button.secret:hover {
    opacity: 0.7;
}


.button.youtube:hover {
    background-color: red;
}

.button.github:hover {
    background-color: purple;
}

/*.button.projects:hover {*/
/*    background-color: #ff9028;*/
/*}*/

.button.projects {
    opacity: 0.5;
    cursor: not-allowed;
}

.button.blog:hover {
    background-color: #2897ff;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.footer p, footer a {
    margin: 0;
}

a:visited, a:hover{
    color: #8888ff;
}

a{
    color: #66aaff;
}

*{
    text-align: center;
    font-family: 'Dubai Regular', serif;
    line-height: 1.2
}

@font-face {
    font-family: 'Dubai Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Regular'), url('Dubai-Regular.woff') format('woff');
}
